@media only screen and (min-width: 900px) {

    .show-desktop {
        display: initial;
    }

    .show-tab {
        display: none !important;
    }

    .show-mobile {
        display: none !important;
    }

    .hide-desktop {
        display: none !important;
    }

    .hide-tab {
        display: initial;
    }

    .hide-mobile {
        display: initial;
    }
}

@media only screen and (max-width: 900px) {

    .show-desktop {
        display: none !important;
    }

    .show-tab {
        display: initial;
    }

    .show-mobile {
        display: none !important;
    }

    .hide-desktop {
        display: initial;
    }

    .hide-tab {
        display: none !important;
    }

    .hide-mobile {
        display: initial;
    }
}

@media only screen and (max-width: 670px) {
    
    .show-desktop {
        display: none !important;
    }

    .show-tab {
        display: none !important;
    }

    .show-mobile {
        display: initial;
    }

    .hide-desktop {
        display: initial;
    }

    .hide-tab {
        display: initial;
    }

    .hide-mobile {
        display: none !important;
    }
}